<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
        <a class="navbar-brand mr-4" href="#">QR Code</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="{% url 'invoice-send' %}">Send</a>
            <a class="nav-item nav-link" href="{% url 'invoice-view' 1%}">View Sample</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'password_change' %}">Change password</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Log out</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Log in</a>
            <a class="nav-item nav-link" href="{% url 'signup' %}">Register</a>
            {% endif %}            
            </div>
        </div>
        </div>
    </nav>
</header>