<div class="content-section">
    <h3>Random Sidebar</h3>
    <p class='text-muted'> (๑•̀ㅂ•́)و✧
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Web App Flow / User - Yitao</li>
        <li class="list-group-item list-group-item-light">Invoice book input  - Aaron</li>
        <li class="list-group-item list-group-item-light">Pdf Generation      - Yu</li>
        <li class="list-group-item list-group-item-light">Everything else     - Everyone else</li>
    </ul>
    </p>
</div>